@model IList<ninja.Models.InvoiceViewModels>
@{
    ViewBag.Title = "Home Page";
}
<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/Invoice/Create">New Invoice</a>
    Invoices
</h2>

<table class="table table-bordered table-striped" id="ListadoInvoices">
    <thead>
        <tr>
            <th class="text-center" style="width:210px">Invoice Number</th>
            <th class="text-center" style="width:80px">Type</th>
            <th class="text-center" style="width:10px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.InvoiceId.ToString(), "Details", new { id = item.InvoiceId })
                </td>
                <td class="text-center">@item.Type</td>
                <td style="text-align:center;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceId })
                </td>
            </tr>
        }
    </tbody>
</table>
