@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoicecion</h1>
    <p class="lead">Sistema de invoicecion echo por Ivan Metta</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requerimientos Cliente S.A</h2>
        <p>
            <b><u>Proyecto ninja.test</u></b>

            Escribir el código necesario para que la prueba 'DeleteInvoice' ejecute correctamente
            Escribir el código necesario para que la prueba 'UpdateInvoiceDetail' ejecute correctamente
            Solucionar el bug para que la prueba 'CalculateInvoiceTotalPriceWithTaxes' ejecute correctamente

            <b><u>Proyecto ninja.web</u></b>
            1.Crear la controller 'InvoiceController.cs' con las siguientes acciones
            Index
            Detail
            New
            Update
            Delete
            2.Crear las 4 vistas que respondan a las 4 acciones creadas en el punto anteriorIndex - Lista todas las invoices en una grilla
            Detail - Lista el detalle de una invoice especifica
            New - Da de alta una invoice, a esta opción se accede desde
            Index
            Update - Modifica una invoice, a esta opción se accede desde Index
            Delete - Elimina una invoice, a esta opción se accede desde Index

            </b>

<p><a class="btn btn-default" href="/Invoice/Index">Learn more &raquo;</a></p>
    </div>
</div>